.cart1{max-width:1350px;min-width:1180px;margin-left:auto;margin-right:auto;height:800px;}
.tablica, .corzina, .dopFunc{position:absolute;}
.corzina{left:1100px;top:280px}
.dopFunc{left:1150px;top:360px;width:230px;line-height: 1.2;color: #626262
}
table{width:700px;border-width:1px; border-color: #9e9e9e;border-style:solid; }
TR td{height:50px;border-width: 0;}
.tablica{margin-top:60px;margin-left:50px}
tr img{width:50px;heigh:50px;margin-left:25px}
.imgSlot{width:100px}
.nameSlot{width:400px;overflow: auto;font-size:17;font-family: Geneva, Arial, Helvetica}
.nameSlot a:hover {text-decoration: none}
.priceSlot {padding-bottom:30px;}
td span {font-weight: bold}
.summaSlot{width:150px}
.plus{margin-right: -4px;border-right:0;width:21px}
.minus{margin-left: -4px;border-left:0;width:21px}
#summaSlot{width:30px;border:0;margin-left:25;margin-right: -7px}
.deleteBlock{margin-top:-50px;border:0;background-color: #fff;}
#counter{text-align: center}
.rasd{border-width: 0 0 0.5px 0;height: 1px}
tfoot .submit1{margin-left: 160px;width:150px;height:27px}
.footCount{text-align: right}
