.favBody{max-width:1366px;min-width:1024px;margin-left:auto;margin-right:auto;}
/*Вид левого блока*/
.leftBlock{	position:relative;
	float:left;
	width:62%;
	min-width:700px;
	max-width:900px;
	margin-left:20px;	
	}

.emtyBox{width:300px;height:62px;font-family: Geneva, Arial, Helvetica;font-size: 26;margin:50px auto;display:none}
.emtyBox img{width:50px;height:50px;float:left}
.emtyText{float:right;margin-top:14px}
.stockBox	{
	width:100%;
	border-width:1px 1px 0 1px;
	border-style: solid ;
	border-color:#9e9e9e;
	
}
.boxHead{
	width:100%;
	height:25px;	
}


.sort{
	position:absolute;
	top:3px;
	left:10px;
	font-size:15px;
}
.boxElement, .boxHead {border-bottom:1px solid #9e9e9e;}	
.boxElement{
	position:relative;
	width:100%;
	height:80px;	
}
.imgSlot{
	position:relative;
	float:left;
	width:85px;
	height:100%;
	border-right:1px solid #9e9e9e;
}
.imgSlot img{
	height:71px;
	width:71px;
	margin:4px;
}
/* Блок Название+ аттрибуты */
.name_price{
	position:relative;
	height:100%;
	width:50%;	
	max-width:500px;
	float:left;	
}
.nameSlot{
	padding:5px 0 0 15px;
	font-size:17;
	font-family: Geneva, Arial, Helvetica
}
.nameSlot a:hover, .nameSlot a:visited,.nameSlot a:active{text-decoration: none}
.priceSlot{float:left;
	margin:10px 0 0 20px;
}
#priceSlot{font-weight:bold;}
.ostatok{font-family: Geneva, Arial, Helvetica;font-size: 19;
	position:relative;
	float:right;
	width:43%;
	margin-top:10px;
	height:10px;
}
/* +- counter; Sum */
.countElemnt{
	position:absolute;
	left:60%;
	height:28px;
	width:300px;
	margin-top:25px;
}

.plus:hover, .minus:hover , .addToCart:hover{cursor:pointer}
.plus{margin-right: -4px;border-right:0;width:28px;height:28px}
.minus{margin-left: -4px;border-left:0;width:28px;height:28px}
#counter{text-align: center;height:28px;}
.addToCart{width:110px;height:28px;float:right}
.sumElement{
	position:absolute;
	top:6px;
	left:98px;
}
@media screen and (max-width: 1320px) {
.addToCart{width:80px;margin-right:25px;}
.ostatok{font-size: 16;}
}
#sumElement{font-weight:bold;margin-left:1px;}
/* +- кнопка удалить */
.deleteElement{
	position:absolute;
	top:3px;
	left:97%;
}
.deleteThis{
	background-image: url(/arbel/IMG/x.png);
	background-repeat:no-repeat;
	background-position:center; 
	background-size:5.2px;
	width:15px;
	height:15px;
	border-radius:15px;
	border:0.6px solid grey;
}
.deleteThis:hover{
	background-color:#287FC1;
	cursor:pointer;
}





/*Вид правого блока*/

.corzina{top:6px;left:40px;}
.sal{top:92px;left:40px;}
.opt{top:134px;left:40px;}
.blockChose{
	position:absolute;
	top:42px;
	left:0;
}



