.restore {max-width:1350px;min-width:1180px;margin-left:auto;margin-right:auto;text-align: center }

#id_email  {font-size:18px;border-radius:1px;height:31px;width:320px;border:1px solid #d2d2d2;}
#form_restore p {font-size: 13;font-family:arial;font-weight: bold;margin:0 0 0 90px;text-align:left}
.login_form{width:700px;height:200px;border-width:1px; float:left;margin-left:173px;}
.login_form H2{font-size: 27;font-weight:lighter;font-family: arial;-webkit-margin-before:0em;text-align: left;text-align: center}
#go_next {width:146px;font-size:18px;height:40px;background-color: #DBDBDB;margin-left:61px }
.login_form{border-style: solid ;border-color:darkgray}
form a, form a:visited{text-decoration:none;color:black}
#go_next:hover{cursor:pointer}