.indexBody{width:100%;max-width:1366px;min-width:1024px;margin-left:auto;margin-right:auto;}
.indexBody H2{margin-left:12%;font-size:27;font-weight:bold;font-family: Geneva, Arial, Helvetica;}
.firstBox, .secondBox, .thirdBox{height:300px;display:inline-block;width:22%;border:1px solid white;}
.firstBox{margin-left:12%}
.secondBox, .thirdBox{margin-left:5%}
.imgT img{width:80%;height:75%;margin:10px 10%}
.nameT{float:left;font-size:17;font-weight:bold;font-family: Geneva, Arial, Helvetica;max-width:90%;margin:15px 0 0 20px; ;text-align:center;}
.priceT{float:left;margin:15px 0 0 35px;font-size:18;font-weight:bold;font-family: Geneva, Arial, Helvetica;}
.redT{font-size:19; color:red;}
.firstBox:hover, .secondBox:hover, .thirdBox:hover{border:1px solid grey;cursor:pointer}