	.item ul li{display:inline-block}
	.menu {background-color: #ffffff;width:100%;border-width:0.9px  0 0.9px 0;border-color: #f4f4f4;border-style:solid;}
	ul {margin:0}
	ul li.item {display:inline-block;float:left;width:12%;text-align:center;font-size:16;color:#474a51;font-weight:bold;margin-top:2px;height:44px}
	ul li.item:hover {border-color:#8d93a1; border-style:solid;border-radius:20px;}	
	.menu_1 {margin-left:70px}
	.menu_1, .menu_3, .menu_5, .menu_7, :hover {border-width:1px 0 0 0;}
	.menu_2, .menu_4, .menu_6, :hover {border-width: 0 0 1px 0;}

	.menuDrop{height:114px;background-color:#F5F5F5;margin-top:8px;position:absolute;left:0px;width:100%;display:none;z-index:10}
	.subMenu {width:1180px;height:57px;text-align:center;background-color:#F5F5F5;margin:0 auto;display:none}
	.subMenu a{padding-right:30px;text-decoration:none;font-size:15;padding-left:5px;color:black;float:left}
	.subMenu a p{margin:0;}
	.subMenu a img{padding-top:2px}
	.SubitemTop_1 {margin-left:139.2px}
	.SubitemBot_1{margin-left:97.6px}
	.Bot_1{margin-top:0px;}

	.header{width:100%;height:145px;}
	.headerTop, .menu, .greyGrad{max-width:1366px;min-width:1024px;margin-left:auto;margin-right:auto;}
	.headerTop{height:100px;}
	.logoPhoto {margin-top:-10px}
	.headerBottom{background-color:#ffffff}

	.logo, .searcher, .cart, .loginLink{display:block;position:relative;}
	.logo{float:left}

	
	.topCenter{margin-top:3px;margin-right:16px}
	.topCenter, .cart, .loginLink{float:right;}
	.aboutDeliv, .discount, .pic1{display:inline-block;font-size:17;}
	.aboutDeliv a{margin-right:10px}
	.pic1{ margin-top:10px;margin-left:30px;position:relative}
	.bottomCenter{height:28px;}
	.BottomCenter div A:link, .BottomCenter div A:visited, .BottomCenter div A:active, .BottomCenter div A:hover{color:#968E8E}  
	.BottomCenter div A:hover{text-decoration:none;}	
	.searcher input {height:33px;font-size:16px;border:2px grey solid;position:relative;float:right;margin-top:11px}
	input[name="search"] {width:390px;border-right:none;}
	input[name="submit"] {width:90px;border-radius:0 3px 13px 0;background-color:#034FA3;color:white; outline: none;}
	input[name="submit"]:hover {cursor:pointer;border-color:#5b616e;color:#e3d2b1}

	.loginLink{margin:10px 30px 0 60px ;width:145px;color:#034FA3;text-decoration:none; }
	.logInLink A:link, .logInLink A:visited, .logInLink A:active, .logInLink A:hover {color:#034FA3;text-decoration:none;}
	.logInLink A:hover {text-decoration:none;}
	.personal {text-decoration:none;font-weight: normal}
	.personal:hover{cursor:pointer;text-decoration:none;}

	.cartStatus{text-align:center;font-size:16;margin-top:4px;}
	.cartStatus a, .cartStatus a:link, .cartStatus a:visited, .cartStatus a:active, .cartStatus a:hover{text-decoration: none; color:black}
	.greyGrad{background: linear-gradient(to bottom, #eaeaea, #fff);height:60px;margin-top:5px} /* 60px для всех 40-50 для лока регистрации*/