.fon_opt_fav_cart{max-width:1366px;min-width:1024px;margin-left:auto;margin-right:auto;}
.optionsBlock{width:720px;height:500px;border-width: 1;border-style: solid;border-color: #adbcbc;position:absolute;margin-top:35px;margin-left:40px}
.changeParol {height:500px;width:49.7%;float:left;}
.PersonalContacts{height:500px;width:49.7%;float:right;}


H2{font-size: 27;font-weight:lighter;font-family: arial;-webkit-margin-before:0em;text-align: left;text-align: center;margin-top:50px}
#id_pass, #id_new_pass {margin-bottom:14px;font-size:18px;border-radius:1px;height:31px;width:220px;border:1px solid #d2d2d2;margin-left:70px}
#id_inn, #id_contact, #id_telephone, #id_adress{margin-bottom:14px;font-size:18px;border-radius:1px;height:31px;width:220px;border:1px solid #d2d2d2;margin-left:70px}
#id_pass_confirm{-webkit-text-security: square;}
#form_changePassword p {font-size: 13;font-family:arial;font-weight: bold;margin-bottom: 3px ;text-align: left;margin-left:72px}
#SubmitChangePas, #SubmitChangesData {width:140px;font-size:13px;height:33px;background-color: #DBDBDB;margin-left:70;font-weight: bold;  }
#form_ChangeUserData p{font-size: 13;font-family:arial;font-weight: bold;margin-bottom: 3px ;text-align: left;margin-left:72px}
.podpiska{width:329px;margin-left:30}
h3{margin-top:50px;width:358px;font-size: 20;}
input[type="radio"]{cursor: pointer;margin-right:8px;height: 13px;  }

/*Вид правого блока*/
.corzina{left:40px;top:6px;}
.fav{top:48px;left:40px;}
.sal{top:90px;left:40px;}
.blockChose{
	position:absolute;
	top:127px;
	left:0;
}




@media screen and (max-width: 1220px) {
.optionsBlock{margin-left:30px}
}