.favBody{max-width:1350px;min-width:1180px;margin-left:auto;margin-right:auto;height:800px;}
/*Вид левого блока*/
.leftBlock{	position:relative;
	float:left;
	width:62%;
	min-width:700px;
	max-width:900px;
	margin-left:20px;	
	}
.salesBlock{
	width:90%;
	height:500px;
	border:1px solid grey;
	margin-left:10%;
}
.history{

	width:290px;
	height:65%;
	font-size: 23;
	margin-top:20px;
	margin-left:50px;
	border-width:0 1px 0 0;
	border-style:solid;
	border-color:grey;
}
.history, .wToSale{position:relative;display:inline-block;font-family: Geneva, Arial, Helvetica;}
.wToSale{
	height:30%;
	font-size: 20;
	margin-left:10px;
}
.typesBlock{
	width:100%;
	border-width:1px 0 0 0 ;
	border-style:solid;
	border-color:grey;
}
.block1{width:25%;font-size: 17}
.block1 p, .block2 p {margin-left:15px}
.block1, .block2 {display:inline-block}
.block2 ul li{list-style:none;}
.block2 ul{padding:0}
.typesBlock ul li {font-family: Geneva, Arial, Helvetica;font-size: 19;font-weight:bold;}
.saleSpan{font-size: 19;font-weight:normal;margin-left:10px;}








/*Вид правого блока*/
.rightBlock{
	position:relative;
	float:right;
	width:260px;
	margin:30px 130px 0 0;}
.corzina, .opt, .fav {position:absolute;font-family: Geneva, Arial, Helvetica;font-size: 23;z-index:1}
.corzina a:hover, .opt a:hover, .fav a:hover {text-decoration:underline;font-size: 24;}
.corzina a:visited, .opt a:visited, .fav a:visited, .corzina a, .opt a, .fav a{text-decoration:none;color:blue}
.corzina{left:47px;top:12px;}
.fav{left:47px;top:51px;}
.sal{position:absolute;top:82px}
.opt{top:138px;left:47px;}





