@media screen and (max-width: 1320px) {
.addToCart{width:80px;margin-right:25px;}
.ostatok{font-size: 16;}
}
.addToCart{width:110px;height:28px;float:right;}
/*Вид правого блока*/
.corzina{top:6px;left:40px;}
.sal{top:92px;left:40px;}
.opt{top:134px;left:40px;}
.blockChose{
	position:absolute;
	top:42px;
	left:0;
}



