@charset "utf-8";
.slider_back
{
	width:100%;
	height:300px;
	padding-top:50px;
	background-image:url(back.png)
}
.slider_body {
	width: 100%;
	height: 180px;
}
.slider_body_wrapper {
	display: table;
    width: 100%;
	height: 100%;
}
.slider_leftitem {
	position: relative;
	display: table-cell;
	width: 8%;
	height: 100%;
	
}
.slider_leftitem_content {
	position:absolute;
	bottom: 0px;
	width: 100%;
	height: 156px;
	background-color: #FFF;
	border-color: #D5D5D5;
	border-style: solid;
	border-width: 2px 0px;
	
}
.slider_rightitem {
	position: relative;
	display: table-cell;
	width: 8%;
	height: 100%;
	
}
.slider_rightitem_content {
	position:absolute;
	bottom: 0px;
	width: 100%;
	height: 156px;
	background-color: #FFF;
	border-color: #D5D5D5;
	border-style: solid;
	border-width: 2px 0px;
}
.slider_main {
	display: table-cell;
	height: 100%;
	
}
.slider_main_wrapper {
    display: table;
    width: 100%;
	height: 100%;
}
.slider_main_leftspace {
	position:relative;
	display: table-cell;	
	width:40px;
	height: 100%;
	
}
.slider_main_leftspace_divtop {
	position:absolute;
	top: 0px;
	width: 38px;
	height: 156px;
	background-color: #FFF;
	border-color: #D5D5D5;
	border-style: solid;
	border-width: 2px 0px 2px 2px;
	
}
.slider_main_leftspace_divtri {
	position:absolute;
	top: 160px;
	left: 0px;	
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 40px 20px 0;
	border-color: transparent #D5D5D5 transparent transparent;
}
.slider_main_leftspace_divside {
	position: absolute;
	bottom: 0px;
	width: 38px;
	height: 30px;
	background-color: #FFF;
	border-color: #D5D5D5;
	border-style: solid;
	border-width: 2px 2px 2px 0px;
}
.slider_main_rightspace {
	position:relative;
	display: table-cell;	
	width:40px;
	height: 100%;
	
}
.slider_main_rightspace_divtop {
	position:absolute;
	top: 0px;
	width: 38px;
	height: 156px;
	background-color: #FFF;
	border-color: #D5D5D5;
	border-style: solid;
	border-width: 2px 2px 2px 0px;
}
.slider_main_rightspace_divtri {
	position:absolute;
	top: 160px;
	left: 0px;	
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 40px 0 0;
	border-color: #D5D5D5 transparent transparent transparent;
}
.slider_main_rightspace_divside {
	position: absolute;
	bottom: 0px;
	width: 38px;
	height: 30px;
	background-color: #FFF;
	border-color: #D5D5D5;
	border-style: solid;
	border-width: 2px 0px 2px 2px;
}
.slider_main_inside {
	display: table-cell;	
	height: 100%;	
	
}
.slider_main_content {
	position:relative;
	top: 0px;
	width: 100%;
	height: 156px;
	background-color: #FFF;
	border-color: #D5D5D5;
	border-style: solid;
	border-width: 2px 0px;
}
.slider_main_content_prices {
	position: absolute;
	top: 30px;
	left: 5%;
	width: 34%;
	height: 100px;
	/* [disabled]background-color: #FA0; */
}
.slider_main_content_prices_old {
	position: absolute;
	top: 0px;
	left: 10%;
	width: 70%;
	height: 50px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	
	font-size: 14pt;
	line-height: 18pt;
	color: #7E7E7E;
	text-decoration: line-through;
	text-align: left;
	overflow: hidden;
	text-overflow: clip;
}
.slider_main_content_prices_selloff {
	position: absolute;
	top: 0px;
	left: 52%;
	width: 60%;
	height: 70px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12pt;
	line-height: 16pt;
	color: #A3A3A3;	
	text-align: left;
	font-weight: bold;
	overflow: hidden;
	text-overflow: clip;
}
.slider_main_content_prices_result {
	position: absolute;
	top: 30px;
	left: 10%;
	width: 100%;
	height: 70px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 46pt;
	line-height: 48pt;
	color: #000;
	text-decoration: none;
	text-align: left;
	font-weight: normal;
	overflow: hidden;
	text-overflow: clip;
	
	/* [disabled]background-color: #DDDD00; */
}
.slider_main_content_image {
	position: absolute;
	top: 20px;
	left: 40%;
	width: 20%;
	height: 120px;
	background-image: url(1012_1.JPG);
	/* [disabled]background-color: #FA0; */
	background-size: 120px 120px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.slider_main_content_discription {
	position: absolute;
	top: 20px;
	left: 61%;
	width: 38%;
	height: 120px;
	/* [disabled]background-color: #FA0; */
}
.slider_main_content_discription_name {
	position: relative;
	top: 0px;
	width: 100%;
	/*height: 80px;*/
	max-height:85px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18pt;
	line-height: 22pt;
	text-align: left;
	overflow: hidden;
	text-overflow:clip;
}
.slider_main_content_discription_category {
	position: relative;
	top: 15px;
	width: 100%;
	height: 20px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 10pt;
	line-height: 12pt;
	text-align: left;
	overflow: hidden;
	text-overflow: clip;
	color: #A3A3A3;
}
.slider_scrollfront
{
	position:absolute;
	top: 50%;
	left:50%;
	margin-left:-15px;
	margin-top:-40px;
	width:30px;
	height:80px;
	/*background-color:#d5d5d5;*/
}
.slider_scrollfront_triangle
{
	position:absolute;
	top: 0px;
	left:0px;	
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 40px 0 40px 30px;
	border-color: transparent transparent transparent #D5D5D5;
}
.slider_scrollback
{
	position:absolute;
	top: 50%;
	right:50%;
	margin-right:-15px;
	margin-top:-40px;
	width:30px;
	height:80px;
	
}
.slider_scrollback_triangle
{
	position:absolute;
	top: 0px;
	left:0px;	
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 40px 30px 40px 0px;
	border-color: transparent #D5D5D5 transparent transparent;
}